

svg {
    width:0;
    height:0;
}

svg path {
    
}

header {
    min-height:100dvh;
}

header #slider {
    width:600px;
    height:600px;
    overflow:hidden;
}

header #sliderrail {
    width:60000px;
    display:flex;
    flex-direction:row;
    position:relative;      
    left:0px;
}

header #sliderrail div {
    width:600px;
    height:600px;
    overflow:hidden;
    background-image:url("../afbeelding.jpg");
    background-size:cover;
    background-position:center center;
    clip-path:url(#blob_clippath);
}
