/* Alle standaard styling verwijderen */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* variabelen voor de fonts */
:root {
    --ff-main: "Roboto", sans-serif;
    --ff-accent: "Poppins", sans-serif;
}

body {
    background-color: #000000;
    font-family: var(--ff-main);
    font-weight: 400;
    font-size: 18px;
    color: #ffffff;
}
